*{
	margin: 0;
	padding: 0;
	font-stretch: Century Gothic;
}

header{
	background-image: url(../images/overall_logo.png);
	position:absolute;
    width:100%; 
    height:100%; 
    background-size:cover;
}

nav{
	background: #000000;
	height: 65px;
	width: 100%;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

@media (max-width: 952px){
	.logo{
		font-size: 30px;
		padding-left: 15px;
	}
	
	nav ul{
		float: right;
		list-style-type: none; 
		margin-top: 20px;
	}

	nav ul li{
		display: flex;
	    flex-direction: row;
	    align-items: center;
	}

	nav ul li a{
		text-decoration: none;
		color: #fff;
		padding: 5px 20px;
		border: transparent;
		transition: 0.6s ease;
	}

	nav ul li a:hover{
		background-color: #fff;
		color: blue;
	}

	nav ul li .active a{
		background-color: #fff;
		color: blue;
	}
}

@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	nav ul{
		position: fixed;
		width: 35%;
		height: 70vh;
		display: flex;
	    flex-direction: column;
	    align-items: center;
		background: #222021;
		top: 45px;
		left: -100%;
		z-index: 300;
	}

	nav ul li{
		margin: 20px 0;
		line-height: 30px;
	}

	nav ul li a{
		text-decoration: none;
		color: #fff;
		padding: 5px 20px;
		border: transparent;
		transition: 0.6s ease;
	}
	
	#check:checked ~ ul{
		left: 0;
	}
}

nav ul{
	float: right;
	list-style-type: none; 
	margin-top: 20px;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: transparent;
	transition: 0.6s ease;
}

nav ul li a:hover{
	background-color: #fff;
	color: blue;
}

nav ul li.active a{
	background-color: #fff;
	color: blue;
}

nav .logo img{
	float: left;
	margin-top: 10px;
	width: 50px;
	height: auto;
}

nav .main{
	max-width: 1200px;
	margin: auto;
}

.algo{
	position: relative;
	padding: 50px 15px 15px 80px;
	text-align: left;
}

.algo .text-head{
	position: absolute;
	font-weight: 800;
    bottom: 68px; 
    left: 97px;
}

.algo .text-head a{
	text-decoration: none;
	color: #fff;
}

.content-table{
  border-collapse: collapse;
  margin-left: 40px;
  font-size: 1em;
  min-width: 1000px;
  border-radius: 5px 5px 40px 5px;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.content-table thead tr{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td{
  padding: 20px 15px;
}

.content-table td a:nth-of-type(odd){
	text-decoration: none;
	color: black;
}

.content-table tbody tr{
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
  font-weight: bold;
  background-color: #f3f3f3;
}

.content-table tbody tr:nth-of-type(odd){
  font-weight: bold;
  background-color: white;
}

.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row a{
  color: #009879;
}

.content-table tbody tr.active-row{
  color: #009879;
}
